* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  scroll-behaviour: smooth;
}
/* Navbar styles */
.navbar {
  display: flex;
  background-color: #c4c4c4;
  font-size: 0.9em;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 20;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
}

.nav-logo {
  align-items: center;
  color: #49438d;
  margin-left: 3em;
  cursor: pointer;
  font-size: 1.5em;
  flex-grow: 1;
}
.nav-menu {
  display: flex;
  list-style-type: none;
  text-align: center;
  margin-right: 3em;
}
.nav-links {
  padding: 0.2em 0.9em;
  color: #49438d;
  font-weight: bold;
}
/* .nav-links:hover,
.nav-links:active {
  color: #fff;
  background-color: #49438d;
  opacity: 0.5;
  transform: scale(1.2);
  padding: 1em 1em;
  border-radius: 4px;
} */

.nav-menu li:nth-child(5) {
  margin-left: 18em;
}
.nav-menu li:last-child {
  border: 1px solid #fff;
  width: auto;
  border-radius: 3px;
}
.nav-menu li:last-child:hover {
  border: none;
  width: auto;
  border-radius: 3px;
}

/* .nav-item:active {
  color: #76eeea;
  transition: color 0.3s ease;
} */

.nav-icon {
  display: none;
}
.nav-item {
  line-height: 40px;
}

@media screen and (max-width: 960px) {
  .navbar {
    position: sticky;
    top: 0;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100vh;
    position: absolute;
    top: 70px;
    right: -110%;
    margin-right: 0;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #49438d;
    right: 0px;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-menu li:nth-child(5) {
    margin-left: 0;
  }

  .nav-links {
    color: #fff;
    width: 100%;
    display: table;
    position: relative;
  }

  .nav-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
    color: #49438d;
  }
}

@media screen and (min-width: 1250px) and (max-width: 1300px) {
  .nav-links:hover,
  .nav-links:active {
    color: #fff;
    background-color: #49438d;
    opacity: 0.5;
    transform: scale(1.2);
    padding: 1em 1em;
    border-radius: 4px;
  }
}
